:root {
  --bgcol: #00008B;
  --navlink: #ebebeb;
}

/*** GENERAL ***/

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  color: #ebebeb;
}

body {
  font-family: sans-serif;
  background: var(--bgcol);
}

a {
  text-decoration: none;
  color: rgb(43, 159, 252);
}

a:hover {
  color: rgb(43, 170, 252);
}

a.href {
  cursor: pointer;
}

img {
  max-width: 90%;
}

/*** NAV ***/

nav {
  display: flex;
  margin: auto;
  width: auto;
  max-width: 1200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

nav a {
  font-size: large;
  color: var(--navlink);
  border-bottom: 3px dotted var(--navlink);
  padding-bottom: 0.2em;
  margin: 0.3em;
}

nav a:hover {
  color: var(--navlink);
  border-bottom: 3px solid var(--navlink);
}