
<h2>Publications</h2>

<h4> In peer-reviewed international journals </h4>

<h4> In peer-reviewed international conference proceedings </h4>

<h4> In peer-reviewed international workshop proceedings </h4>

<ul>
   <li>Co-authored with <a class="urllink" href="https://www.linkedin.com/in/mathieu-montin-3b5537135" rel="nofollow">Mathieu Montin</a> and <a class="urllink" href="http://web4.ensiie.fr/~dubois/" rel="nofollow">Catherine Dubois</a>. <em>LIBNDT: Towards a formal library on spreadable properties over linked nested datatypes</em> - <a class="urllink" href="https://msfp-workshop.github.io/msfp2022/" rel="nofollow">MSFP 2022</a>. <br>Not yet available.
   </li>
</ul>   

<h4> In peer-reviewed national conference proceedings </h4>

<ul>
   <li>Co-authored with <a class="urllink" href="https://valentinblot.org/pro/" rel="nofollow">Valentin Blot</a> and <a class="urllink" href="http://web4.ensiie.fr/~dubois/" rel="nofollow">Catherine Dubois</a>. <em>Vers une traduction de K en Dedukti</em> -  <a class="urllink" href="http://jfla.inria.fr/jfla2022.html" rel="nofollow">JFLA 2022</a>. <br>Not yet available.
   </li>
   <li>Co-authored with <a class="urllink" href="http://web4.ensiie.fr/~dubois/" rel="nofollow">Catherine Dubois</a>. <em>FaCiLe en Coq : vérification formelle des listes d'intervalles </em> -  <a class="urllink" href="http://jfla.inria.fr/jfla2020.html" rel="nofollow">JFLA 2020</a>. <br>Available <a class="urllink" href="https://hal.inria.fr/hal-02427360" rel="nofollow">here</a>.
   </li>
</ul>