

<ul>
    <li>LMF seminar on K - 2021/03/23</li>
    <li>LVP Research Day - 2021/11/23</li>
    <li>TransForm working group - 2021/12/07</li>
    <li>Deducteam working group on Metamath - 2022/01/06</li>
    <li>CEA list seminar - 2022/03/31</li>
</ul>
